@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Sheeshable</h3>
    <p>Liam Uriel S. Evangelista</p>
</div>

<p>
    To view the student information table, please go the <a id="hl1" asp-area="" asp-controller="Home" asp-action="table">Student Information Table</a> page.
</p>