html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 500px;
}

thead {
    background-color: red;
    text-align: center;
}
tbody {
    background-color: yellow;
}

td {
    width: 100px;
}
 .hidden {
     display: none;
 }
.amogs {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
  position: absolute;
  bottom:0;
  padding-top: 10px;
  height: 5%;
  width: 100%;
}